body {
    font-family: 'Segoe UI';
}

.formDiv {
    position: absolute;
    border: solid;
    border-width: 0;
    border-radius: 10px;
}

form {
    border-width: 0;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 840px;
    min-height: 450px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}


@media only screen and (max-width: 768px) {
    .formDiv {
        padding: 15px;
        background-color: #00AAEF;
    }

    form {
        padding: 0 20px 30px 20px;
    }

    .input-wrapper-small, .input-wrapper-time {
        width: 49%;
        margin: 0 0.5% 0 0.5%;
    }
    
    .input-wrapper-big, .input-wrapper-name {
        width: 99%;
        margin: 0 0.5% 0 0.5%;
    }
    .icon-man {
        display: none;
    }
    .checkbox-block {
        width: 100%;
        margin: 15px 0 15px 0;
    }
    .checkbox-block-element {
        margin-top: 15px;
    }
    .politic-button {
        max-width: 340px;
        width: 100%;
    }
    .instruction {
        font-size: 14px;
        max-width: 500px;
        padding: 0 5% 0 5%;
    }
    .form-title {
        font-size: 20px;
        
    }
    .input-label {
        font-size: 14px;
    }

}


@media only screen and (min-width: 768px) {
    .formDiv {
        padding: 40px;
        background-color: #00AAEF;
    }

    form {
        padding: 0 60px 30px 60px;
    }
    .input-wrapper-small {
        width: 20%;
        margin: 0 0.5% 0 0.5%;
    }
    .input-wrapper-big, .input-wrapper-time {
        width: 24%;
        margin: 0 0.5% 0 0.5%;
    }
    .icon-man {
        margin:0 0 0 auto;
        padding:15px 10px 0 0;
        width: 22px;
        height: 53px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
    }

    .input-wrapper-name {
        width: 74%;
        margin: 0 0.5% 0 0.5%;
    }

    .input-wrapper-name input {
        width: 100%;
    }

    .checkbox-block, .politic-button {
        max-width: 340px;
        width: 50%;
    }
    .instruction {
        font-size: 18px;
        padding: 0 10% 0 10%;
    }
    .form-title {
        font-size: 35px;
    }
    .input-label {
        font-size: 16px;
    }
}



.input-wrapper-small {
    position: relative;
}

.input-wrapper-big {
    position: relative;
}

.input-window {
    border-radius: 8px;
    border-color: #D7D7D7;
    border-style: solid;
    height: 38px;
    box-shadow: none;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}


.form-title {
    color: #007FCC;
    margin: 30px auto 0 auto;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    height: 40px;
}

.instruction {
    font-family: Segoe UI;
    opacity: 0.5;
    color: #252525;
    text-align: center;
    margin: 0 auto 0 auto;
    font-weight: 400;
}

.input-label {
    font-family: Segoe UI;
    opacity: 0.5;
    color: #252525;
    font-weight: 350;
    padding-left: 15px;
}

.input-wrapper-time{
    position: relative;
}

.icon-time {
    top: 38px;
    right: 10%;
    display: block;
    position: absolute;
    transition: 200ms ease;
}


.icon-time:hover {
    border-color: #00AAEF;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 0 0 2px 0px rgba(0, 127, 204, 0.3), 0 0 2px 0px rgba(0, 127, 204, 0.5);
    transition: 400ms ease;
}


.icon-duration, .icon-abult, .icon-child {
    top: 35px;
    right: 10%;
    background-image: url(icon/open_list.svg);
    display: block;
    position: absolute;
    width: 11px;
    height: 19px;
    transition: 200ms ease;
}

.icon-duration:hover, .icon-abult:hover, .icon-child:hover {
    border-color: #00AAEF;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 0 0 2px 0px rgba(0, 127, 204, 0.3), 0 0 2px 0px rgba(0, 127, 204, 0.5);
    transition: 400ms ease;
}


.checkbox-block-element {
    width: 100%;
    margin-bottom: 20px;
}


.checkbox-block-element label{
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 140%;
    color: #252525;
    display: flex;
    align-items: center;
}


.find-button {
    width: 100%;
    height: 50px;
    background: linear-gradient(270deg, #007FCC 0%, #00AAEF 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #bfbfbf;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.find-button:hover {
    box-shadow: 0px 4px 4px #7e7e7e;
    transition: all 200ms ease;
}

.politic-button p {
    font-weight: 350;
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    color: #252525;
}

.politic-button a {
    color: #007FCC;
    text-decoration: none;
}

.checkbox-input {
	position: absolute;
	opacity: 0;
}
.checkbox-input + label {
	position: relative;
	padding: 0 0 0 40px;
	cursor: pointer;
}

.checkbox-input + label:before {
	content: '';
	position: absolute;
	left: 0;
	width: 34px;
	height: 20px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 0 0 1px #E8E8E8;
	transition: .2s;
}
.checkbox-input + label:after {
	content: '';
	position: absolute;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background: #ffffff;
    box-shadow: inset 0 0 0 0.5px #E5E5E5;
	transition: .2s;
}
.checkbox-input:checked + label:before {
	background: #ffffff;
}
.checkbox-input:checked + label:after {
    
    box-shadow: 0px 2px 2px #999999, inset 0 0 0 0.5px #E5E5E5;
	left: 16px;
    background: linear-gradient(#1afa2d, #4787ff);
}