body {
    font-family: 'Segoe UI';
}

form {
    padding: 0 60px 0 60px;
    border: solid;
    border-width: 40px;
    border-color: #00AAEF;
    border-radius: 10px;
    max-width: 840px;
    min-height: 480px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.input-wrapper-small {
    width: 20%;
    text-align: center;
}

.input-wrapper-big {
    width: 25%;
    text-align: center;
}

.input-window {
    border-radius: 8px;
    border-color: #D7D7D7;
    border-style: solid;
    height: 38px;
    box-shadow: none;
    width: 90%;
}

.form-title {
    color: #007FCC;
    margin: 30px auto 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 150%;
    height: 40px;
}

.instruction {
    font-family: Segoe UI;
    opacity: 0.5;
    color: #252525;
    text-align: center;
    margin: 0 auto 0 auto;
    font-weight: 400;
    font-size: 18px;
    padding: 0 10% 0 10%;
}

.input-label {
    font-family: Segoe UI;
    opacity: 0.5;
    color: #252525;
    font-weight: 350;
    font-size: 16px;
}

.input-wrapper-name {
    width: 75%;
    display: flex;
}

.input-wrapper-name input {
    width: 100%;
}

.icon-man {
    margin:0 0 0 auto;
    width: 22px;
    height: 53px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.checkbox-block, .politic-button {
    max-width: 340px;
    width: 50%;
}

.checkbox-block-element {
    width: 100%;
}


.checkbox-block-element label{
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 140%;
    color: #252525;
    display: flex;
    align-items: center;
}


.find-button {
    width: 100%;
    height: 50px;
    background: linear-gradient(270deg, #007FCC 0%, #00AAEF 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #bfbfbf;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.find-button:hover {
    box-shadow: 0px 4px 4px #7e7e7e;
    transition: all 200ms ease;
}

.politic-button p {
    font-weight: 350;
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    color: #252525;
}

.politic-button a {
    color: #007FCC;
    text-decoration: none;
}










/*Тоглер*/
.checkbox-input {
	position: absolute;
	opacity: 0;
}
.checkbox-input + label {
	position: relative;
	padding: 0 0 0 40px;
	cursor: pointer;
}

.checkbox-input + label:before {
	content: '';
	position: absolute;
	left: 0;
	width: 34px;
	height: 20px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 0 0 1px #E8E8E8;
	transition: .2s;
}
.checkbox-input + label:after {
	content: '';
	position: absolute;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background: #ffffff;
    box-shadow: inset 0 0 0 0.5px #E5E5E5;
	transition: .2s;
}
.checkbox-input:checked + label:before {
	background: #ffffff;
}
.checkbox-input:checked + label:after {
    
    box-shadow: 0px 2px 2px #999999, inset 0 0 0 0.5px #E5E5E5;
	left: 16px;
    background: linear-gradient(#1afa2d, #4787ff);
}