body {
    font-family: 'Segoe UI';
}

.dark {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000000;
    opacity: 0.5;
}

.invisible {
    display: none !important;
}

.form-div {
    min-width: 280px;
    z-index: 2;
    position: absolute;
    left: 50%;
    max-width: 1040px;
    width: 100%;
    border: solid;
    border-width: 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #00aaff;
    border-radius: 10px;
    border-width: 0;
}


form {
    border-width: 0;
    border-radius: 10px;
    background-color: #ffffff;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    .form-title{
        margin: 55px auto 0 auto;
    }

    .form-div {
        transform: translate(-50%, 0);
    }
    .close-form-button {
        right: 0;
        top: 0;
        position: absolute;
        display: inline-block;
        background: none;
        width: 50px;
        padding: 8px;
        color: #000000;
        border: 0;
        text-align: center;
        outline: none;
        text-decoration: none;
        opacity: 1;
    }
    .close-form-button span {
        display: none;
    }

    .close-form-button::before, .close-form-button::after {
        content: '';
        position: absolute;
        right: 32px;
        top: 45px;
        display: block;
        width: 26px;
        height: 2px;
        background: #007FCC;
    }


    .form-div {
        padding: 15px;
    }

    form {
        padding: 0 4.5% 30px 4.5%;
    }

    .input-wrapper-duration, .input-wrapper-abult,  .input-wrapper-time, .input-wrapper-child {
        width: 48%;
        padding-top: 42px;
    }
    
    .input-wrapper-phone {
        padding-top: 30px;
    }

    .input-wrapper-name {
        padding-top: 15px;
    }
    .input-wrapper-time, .input-wrapper-abult {
        margin-right: 1.5%;
    }

    .input-wrapper-duration, .input-wrapper-child {
        margin-left: 1.5%;
    }

    .input-wrapper-phone, .input-wrapper-name {
        width: 100%;
    }

    .icon-man {
        display: none;
    }

    .checkbox-block {
        width: 100%;
        margin: 15px 0 5px 0;
    }

    .checkbox-block-element {
        margin-top: 10px;
    }

    .politic-button {
        max-width: 340px;
        width: 100%;
    }

    .instruction {
        margin: 20px auto 18px auto;
        font-size: 14px;
        line-height: 160%;
    }

    .form-title {
        font-size: 20px;
        
    }
    
    .input-label {
        font-size: 14px;
        top: 13px;
        padding-left: 10px;
    }

        
    .checkbox-block-element label{
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }
    .find-button {
        margin-bottom: 20px;
    }

    .politic-button p {
        text-align: center;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 860px){
    form {
        padding: 0 5% 2% 5%;

    }
}
@media only screen and (min-width: 860px){
    form {
        padding: 0 50px;
    }
}

@media only screen and (min-width: 768px) {
    .close-form-button {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        right: 30px;
        top: -55px;
        position: absolute;
        display: inline-block;
        background: none;
        width: 50px;
        padding: 8px;
        color: #FFFFFF;
        border: 0;
        text-align: center;
        text-transform: uppercase;
        outline: none;
        text-decoration: none;
        opacity: 0.5;
    }

    .close-form-button::before, .close-form-button::after {
        content: '';
        position: absolute;
        right: 67px;
        top: 15px;
        display: block;
        width: 28px;
        height: 3px;
        background: #ffffff;
    }

    .form-div {
        transform: translate(-50%,5%);
        padding: 40px;
    }

    .input-wrapper-duration, .input-wrapper-abult  {
        width: 20.5%;
    }

    .input-wrapper-child {
        width: 18.5%;
    }
    

    .input-wrapper-phone, .input-wrapper-duration, .input-wrapper-abult,   .input-wrapper-time, .input-wrapper-name, .input-wrapper-child {
        padding-top: 20px;
        margin: 0 0.7%;
        position: relative;
    }

    .input-wrapper-phone, .input-wrapper-time {
        width: 25%;
    }

    .input-wrapper-name {
        width: 72.2%;
    }

    .icon-man {
        margin:0 0 0 auto;
        padding:15px 10px 0 0;
        width: 22px;
        height: 53px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
    }


    .checkbox-block, .politic-button {
        max-width: 340px;
        width: 43%;
        margin-top: 25px;
        margin-bottom: 27px;
    }

    .checkbox-block {
        margin-right: 7%;
    }

    .politic-button {
        margin-left: 7%;
    }

    .instruction {
        font-size: 18px;
        max-width: 730px;
        line-height: 180%;
        margin: 20px auto 40px auto;
    }

    .form-title {
        font-size: 35px;
        margin: 30px auto 0 auto;
    }

    .input-label {
        top:-10px;
        font-size: 16px;
        padding-left: 8%;
    }

    
    .checkbox-block-element label{
        font-weight: 350;
        font-size: 16px;
        line-height: 140%;
    }
    
.politic-button p {
    text-align: right;
}

}

.close-form-button::before {
    transform: rotate(45deg);
    transition: all 200ms ease;
}

.close-form-button::after {
    transform: rotate(-45deg);
    transition: all 200ms ease;
}

.close-form-button:hover::before {
    transform: rotate(-90deg);
    transition: all 200ms ease;
    opacity: 0;
}

.close-form-button:hover::after  {
    transform: rotate(0deg);
    transition: all 200ms ease;
    box-shadow: 0 0 5px 1px #ff2222;
}


.select-list {
    -webkit-appearance: none;
    -moz-appearance: none; 
    background: url(../icon/open_list.svg) no-repeat right; 
    background-position: 91% 12px;  
}

.input-time{
    background: url(../icon/dot.png) no-repeat right; 
    background-position: 91% 15px;  
}

.input-window {
    border-radius: 10px;
    border-color: #D7D7D7;
    border-style: solid;
    height: 44px;
    border-width: 1px;
    box-shadow: none;
    padding:0 7%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    outline: none;
}

.name-form {
    padding:0 4%;
}

.input-window:focus {
    box-shadow: 0 0 7px 1px #D7D7D7;

}
.error {
    box-shadow: 0 0 7px 1px #ff0000;
}

.name-form::placeholder{
    opacity: 0.5;
    font-weight: 400;
    font-size: 18px;
}

.phone-form::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #252525;
}



.form-title {
    color: #007FCC;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.instruction {
    opacity: 0.5;
    color: #252525;
    text-align: center;
    font-weight: 400;
}

.input-label {
    position: absolute;
    opacity: 0.5;
    color: #252525;
    font-weight: 350;
    white-space: nowrap;
}

.checkbox-block-element {
    width: 100%;
    margin-bottom: 10px;
}


.checkbox-block-element label{
    font-style: normal;
    color: #252525;
    display: flex;
    align-items: center;
}


.find-button {
    width: 100%;
    height: 50px;
    background: linear-gradient(270deg, #007FCC 0%, #00AAEF 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #bfbfbf;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 200ms;
    letter-spacing: 1px;
    outline: none;
}

.find-button:hover {
    box-shadow: 0px 4px 4px #7e7e7e;
    transition: 200ms;
}

.find-button:active {
    box-shadow: 0 0 4px 2px #4edfff;
}

.js-sending {
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    animation-name: waiting;
}
@keyframes waiting {
    0% {
        box-shadow: 2px 2px 4px 1px #ffffff;
    }
    25% {
        box-shadow: 2px -2px 4px 1px #ffffff;
    }
    50% {
        box-shadow: -2px -2px 4px 1px #ffffff;
    }
    75% {
        box-shadow: -2px 2px 4px 1px #ffffff;
    }
    100% {
        box-shadow: 2px 2px 4px 1px #ffffff;
    }
}
.input-wrapper-phone, .input-wrapper-duration, .input-wrapper-abult,   .input-wrapper-time, .input-wrapper-name, .input-wrapper-child {
    position: relative;
}


.politic-button p {
    font-weight: 350;
    font-size: 10px;
    line-height: 160%;
    color: #252525;
}

.politic-button a {
    color: #007FCC;
    text-decoration: none;
}

.checkbox-input {
	position: absolute;
	opacity: 0;
}

.checkbox-input + label {
	position: relative;
	padding: 0 0 0 45px;
	cursor: pointer;
}

.checkbox-input + label:before {
	content: '';
	position: absolute;
	left: 0;
	width: 34px;
	height: 20px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 0 0 1px #E8E8E8;
	transition: .2s;
}

.checkbox-input + label:after {
	content: '';
	position: absolute;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background: #ffffff;
    box-shadow: inset 0 0 0 0.5px #E5E5E5;
	transition: .2s;
}
.checkbox-input:checked + label:before {
	background: #ffffff;
}
.checkbox-input:checked + label:after {
    
    box-shadow: 0px 2px 2px #999999, inset 0 0 0 0.5px #E5E5E5;
	left: 16px;
    background: linear-gradient(#1afa2d, #4787ff);
}